@media all and (min-width: 750px){
    .m{display: none;}
    .tab{display: none;}
    .pc{display: block;}

    .mainmem br{
	    display:none !important;
    }
    .content3 .into br{
	    display:none !important;
    }

.pop{display: none;}
header .wrap{
    max-width: 1092px;
    width: 100%;
    margin: 0 auto;
}
header .wrap h1{
    width: 200px;
}
header .wrap .btn-menu{display: none;}
header .wrap .btn-close{display: none;}
header .wrap nav{
    display: flex;
    position: unset;
    justify-content: right;
    align-items: center;
    overflow: unset;
    flex-direction: unset;
    background-color: unset;
    padding: 0;
    background-color: unset;
    color: #003B82;
    font-size: 16px;
}
header .wrap nav .gnb{display: none;}
header .wrap nav .menu{display: block;}
header .wrap nav .menu > ul{
    display: flex;  
    text-align: center;
}
header .wrap nav .menu > ul > li{
    width: 100px;
    position: relative;
}
header .wrap nav .menu > ul > li > ul{
    width: 100px;
    display: none;
    position: absolute;
    font-size: 12px;
    background: #003B82;
    color: #ffffff;
    margin-top: 15px;
    font-weight: normal;
}
header .wrap nav .menu > ul > li:hover > ul{
    display: block;
}
header .wrap nav .menu > ul > li > ul > li{
    padding: 10px;
}
header .wrap nav .menu > ul > li > ul > li:hover{
    background: #005ed1;
    transition: ease 1s;
}
header .wrap nav .util{
    margin-top: 0;
}
header .wrap nav .util .box{
    font-size: 12px;
}
/* ---μΈν’‹μλ¦¬--- */
.main .wrap .booking{
}
.main .wrap .booking .btns2{display: block;}
.main .wrap .booking .btns{
    position: absolute;
    margin-bottom: 0;
    color: #003B82; 
    left: 0;
    bottom: calc(100% - 20px);
    padding-bottom: 20px;
    /* margin-bottom: -20px; */
    /* transform: translateY(20px); */
}
.main .wrap .booking .btns div{
    background-color: unset;
}
.main .wrap .booking .btns .box button{
    font-size: 14px;
    padding: 10px 20px;
}
.main .wrap .booking .btns .box:first-child button{
    border-top-left-radius: 12px;
}
.main .wrap .booking .btns .box:last-child button{
    border-top-right-radius: 12px;
}
.main .wrap .booking .ticketcon2{
    display: block;
    background-color: #ffffff;
}
.main .wrap .booking .ticketcon{display: none;}
.main .wrap .booking .ticketcon2 .ticket2{display: none;}
.main .wrap .booking .ticketcon2{
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    z-index: 1;
}
/* ---ticket--- */
.main .wrap .booking .ticketcon2 .ticket input{
    font-size: 14px;
    color: #003B82;
    border-bottom: 1px solid #003B82;
    outline: none;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
}
.main .wrap .booking .ticketcon2 .ticket .content{
    display: flex;
    justify-content: center;
}
.main .wrap .booking .ticketcon2 .ticket .content .station{
    display: flex;
}
.main .wrap .booking .ticketcon2 .ticket .content .station .reverse img{
    margin-right: 20px;
}
.main .wrap .booking .ticketcon2 .ticket .content .date{}
.main .wrap .booking .ticketcon2 .ticket .content .bottom{
    display: flex;
}
.main .wrap .booking .ticketcon2 .ticket .content .bottom .person{
    margin-right: 10px;
}
.main .wrap .booking .ticketcon2 .ticket .content .bottom .srh input{
    border-radius: 10px;
    background-color: #003B82;
    color: #ffffff;
    padding: 10px 30px;
    margin-right: 0;
}
/* ---ticket2--- */
.main .wrap .booking .ticketcon2 .ticket2 input{
    font-size: 14px;
    color: #003B82;
    border-bottom: 1px solid #003B82;
    outline: none;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
}
.main .wrap .booking .ticketcon2 .ticket2 .content{
    display: flex;
    justify-content: center;
}
.main .wrap .booking .ticketcon2 .ticket2 .content .station{
    display: flex;
}
.main .wrap .booking .ticketcon2 .ticket2 .content .station .reverse img{
    margin-right: 20px;
}
.main .wrap .booking .ticketcon2 .ticket2 .content .date{}
.main .wrap .booking .ticketcon2 .ticket2 .content .bottom{
    display: flex;
}
.main .wrap .booking .ticketcon2 .ticket2 .content .bottom .person{
    margin-right: 10px;
}
.main .wrap .booking .ticketcon2 .ticket2 .content .bottom .srh input{
    border-radius: 10px;
    background-color: #003B82;
    color: #ffffff;
    padding: 10px 30px;
    margin-right: 0;
}
.main .wrap .mainmem{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .wrap{
    max-width: 1092px;
    width: 100%;
    margin: 0 auto;
}
.main .wrap .mainmem .mem .box{
    margin-right: 10px;
    width: 120px;
}
.main .wrap .mainmem div:first-child{
    margin-bottom: 0;
}
.main .wrap .mainmem .mem a{
    font-size: 14px;
}
.main .wrap .mainmem .mem .box:last-child{
    margin-right: 10px;
}
.main .wrap .mainmem .mem:last-child .box:last-child{
    margin-right: 0;
}
.main .wrap .mainmem .mem .box img{
    width: 30px;
}
.main .wrap .maintrip h2{}
.main .wrap .maintrip .content{
    display: flex;
}
.main .wrap .maintrip .content .con{
    margin-bottom: 0;
}
.main .wrap .maintrip .content .con .box{}
.main .wrap .maintrip .content .con .box img{
    width: 100%;
}
.main .wrap .maintrip .content .con .box a{
    margin-right: 20px;
}
.main .wrap .maintrip .content .con .box:last-child a{
    margin-right: 20px;
}
.main .wrap .maintrip .content .con:last-child .box:last-child a{
    margin-right: 0;
}
.main .wrap .tripinto{}
.main .wrap .tripinto .content1 .con{
    display: flex;
    flex-wrap: nowrap;
}
.main .wrap .tripinto .content1 .con .into:nth-child(2){
    margin-right: 10px;
}
.main .wrap .tripinto .content2 .con{
    display: flex;
    flex-wrap: nowrap;
}
.main .wrap .tripinto .content2 .con .into:nth-child(2){
    margin-right: 10px;
}
.main .wrap .tripinto .content3 .con{
    display: flex;
    flex-wrap: nowrap;
}
.main .wrap .tripinto .content3 .con .into:nth-child(2){
    margin-right: 10px;
}
.main .wrap .notice{
    margin-bottom: 40px;
}
.main .wrap .notice .content{
    display: flex;
}
.main .wrap .notice .content .con1{
    width: 50%;
    padding: 10px;
    margin: 0px 10px 0px 0px;
}
.main .wrap .notice .content .con1 .box a{
    padding: 10px;
}
.main .wrap .notice .content .con1 .box a .txt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.main .wrap .notice .content .con1 .box a .txt .pc{
    color: #666677;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.main .wrap .notice .content .con2{
    width: 50%;
}
.footer .pic{
    display: flex;  
    justify-content: center;
    margin-bottom: 20px;
}
.footer .pic img{
    width: 100%;
}
.footer .site{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

}
.footer .site .box{
    border-right: 1px solid #ffffff;
}
.footer .site a{
    padding: 10px;
}
.footer .site .box:last-child{
    border-right: 0;
}
.footer .txt .con{
    display: flex;
    justify-content: center;
}
.footer .txt .con:last-child{
    margin-top: 20px;
}


}

